/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration none
		
	img
		border 0
	
body
	path("bg-CopaBBB.png")
	background-size cover
	background-repeat no-repeat
 
h2
	color $RojoOsc
	font-family $Flama
	font-size 5rem
	margin 1rem 0

h3
	color $Blanco
	font-family $Flama
	font-size 3.5rem
	margin 0
	text-align center

i
	font-size 2.5rem
