footer
	background $AzulOsc
	bottom 0
	color #fff
	width 100%
	margin-top 2rem

.list-footer
	margin 0 auto 
	padding 0
	width 270px
	
	li
		font-family $FlamaL
		list-style none
		display inline-block
		margin-right 1rem
		max-width 300px
		
		a
			color $Blanco
			font-size 2rem
			text-decoration none
			
			&:hover
				color $AzulCla