.cont-titular
	background $Blanco
	text-align center
	margin-top 2rem

.cont-fase-depar
	background $RojoCla
	padding 0.6rem 0
	text-align center

.cont-fase-nacio
	background $RojoOsc
	padding 0.6rem 0
	text-align center

.cont-info-acor
	background rgba(255,255,255, 0.6)
	
//-Switch... Salud

.switch,
.switch * 
	-webkit-user-select none
	-moz-user-select none
	-khtml-user-select none
	-ms-user-select none 

.switch label 
	cursor pointer
	font-family $FlamaL
	font-size 3rem
	font-weight 200
	text-align center
	width 50%

.switch label input[type=checkbox] 
	opacity 0
	width 0
	height 0 

.switch label input[type=checkbox]:checked + .lever 
	background-color $Blanco 

.switch label input[type=checkbox]:checked + .lever:after 
	background-color $Blanco 

.switch label .lever 
	content ""
	display inline-block
	position relative
	width 40px
	height 15px
	background-color $RojoApa
	border-radius 15px
	margin-right 10px
	transition background 0.3s ease
	vertical-align middle
	margin 0 16px 

.switch label .lever:after 
	content ""
	position absolute
	display inline-block
	width 21px
	height 21px
	background-color #F1F1F1
	border-radius 21px
	box-shadow 0 1px 3px 1px rgba(0, 0, 0, 0.4)
	left -5px
	top -3px
	transition left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease 

input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after 
	box-shadow 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(255, 64, 129, 0.1) 

input[type=checkbox]:not(:disabled) ~ .lever:active:after 
	box-shadow 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08) 

.switch label input[type=checkbox]:checked + .lever:after 
	left 24px 

.switch input[type=checkbox][disabled] + .lever 
	cursor default 

.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after 
	background-color $RojoApa

.table
	font-size 1.4rem
	line-heigth 0.8rem
	
	td
		border none !important
		text-align rigth !important

.cont-tabla-punt
	background $Rojo
	padding-top 1rem
	margin-bottom 2rem

label 
	color $Blanco
	font-family $Flama
	font-size 2rem
	max-width 25% !important
	width 7rem
	padding-top 2rem

select.form-control
	background $Blanco
	border none
	border-radius 0
	display inline-block
	padding 0.5rem 1rem
	width 70% !important

button.btn-consul-copa
	background $AzulOsc
	background linear-gradient(to bottom, #1b437a 0%,#0078bd 100%)
	border none
	border-radius 0 !important
	box-shadow 0 5px 0 0 darken($AzulOsc, 40%)
	color $Blanco
	font-family $Flama
	font-size 3rem
	margin 2rem auto
	max-width 318px
	padding 0.2rem 12rem
	transitionBase(0.10s)
	
	&:hover
		color $Blanco
		box-shadow 0 10px 0 0 darken($AzulOsc, 40%)
		transform translateY(-5px)
		
	
	&:focus, &:active
		background $AzulOsc
		background linear-gradient(to bottom, #1b437a 0%,#0078bd 100%)
		box-shadow none
		outline 0 !important
		outline none !important
		transform translateY(5px)
		
	
		
			
table.table-responsive
	border none !important

.cont-cabe-table
	background $AzulOsc
	color $Blanco
	font-family $FlamaL
	font-size 3rem
	text-align center
	
	td
		border-color $AzulCla !important
		border-style solid !important
		border-width 0 2px 0 !important
		color $Blanco
		
		&:nth-child(1)
			border none !important
		
		&:nth-child(4)
			border none !important
	
.ico-balon
	path("ico-balon.png")
	display inline-block
	height 21px
	width 21px
	
.cont-infor-table
	background $AzulCla
	
	td
		border-color $AzulOsc !important
		border-style solid !important
		border-width 0 2px 0 !important
		color $Blanco
		font-size 1.5rem
		font-weight 200
		text-align center
		
		
		&:nth-child(1)
			border none !important
		
		&:nth-child(2)
			text-align left
				
		&:nth-child(4)
			border none !important

.cont-info-fin
	color $Blanco
	font-size 1.5rem
	font-weight 200