.cont-titular
	background $Blanco
	text-align center
	margin-top 2rem

.cont-fase-depar
	background $RojoCla
	padding 0.6rem 0
	text-align center

.cont-fase-nacio
	background $RojoOsc
	padding 0.6rem 0
	text-align center

.cont-info-acor
	background rgba(255,255,255, 0.6)
	
.table
	font-size 1.4rem
	line-heigth 0.8rem
	
	td
		border none !important
		text-align rigth !important

.cont-tabla-punt
	background $Rojo
	padding-top 1rem

label 
	color $Blanco
	font-family $Flama
	font-size 2rem
	max-width 25% !important
	width 7rem
	padding-top 2rem

select.form-control
	background $Blanco
	border none
	display inline-block
	padding 0.5rem 1rem
	width 70% !important

button.btn-consul-copa
	background $AzulOsc
	background linear-gradient(to bottom, #1b437a 0%,#0078bd 100%)
	border none
	border-radius 0 !important
	box-shadow 0 5px 0 0 darken($AzulOsc, 40%)
	color $Blanco
	font-family $Flama
	font-size 3rem
	margin 2rem auto
	max-width 318px
	padding 0.2rem 12rem
	transitionBase(0.10s)
	
	&:hover
		color $Blanco
		box-shadow 0 10px 0 0 darken($AzulOsc, 40%)
		transform translateY(-5px)
		
	
	&:focus, &:active
		background $AzulOsc
		background linear-gradient(to bottom, #1b437a 0%,#0078bd 100%)
		box-shadow none
		outline 0 !important
		outline none !important
		transform translateY(5px)
		
	
		
			
table.table-responsive
	border none !important
	
