/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Rojo          = #dd1d40
$RojoOsc       = #ac261b
$RojoCla       = #e63e22
$RojoApa       = #69150a
$Blanco	   	  = #ffffff 
$Negro         = #000000
$AzulOsc       = #1b437a
$AzulCla       = #0078bd


/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$Flama  = 'flama', sans-serif
$FlamaL = 'flama-l', sans-serif
$FlamaB = 'flama-b', sans-serif

//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700