//Footer

footer.container-fluid
	div.row
		div.col-lg-12.col-md-12.col-sm-12.col-xs-12

			ul.list-footer
				li

					a T&eacute;rminos y Condiciones

				li
					a.text-center BonBonBum.com


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/copa-bbbum.js')

else
	script(src="js/libs.copa-bbbum.min.js")
	script(src='js/copa-bbbum.js')