//Header
header.container-fluid
	div.row
		div.col-lg-12.col-md-10.col-sm-6.col-xs-6.col-lg-offset-0.col-md-offset-1.col-sm-offset-3.col-xs-offset-3
			h1
				img.img-responsive.logo-copa.center-block(src="images/logo-CopaBBBUM.png", alt="CopaBonBonBum", tittle="CopaBonBonBum")

		

///-Header