//-Layout Base
extends partials/base.jade

//-Etiqueta Metadescription
block description
	meta(name="description", content="Frontend BRM" )


block content

	section.container-fluid
		div.row.cont-titular

			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h2.
					Eliminatorias

		div.row
			div
				div#accordion(role="tablist",aria-multiselectable="true")
					div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-2.col-md-offset-2

						a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
							div(role="tab", id="headingOne")
								h3.cont-fase-depar.
									Fase Departamental

						div.cont-info-acor.in#collapseOne(role="tabpanel",aria-labelledby="headingOne")
							div.panel-body
								table.table
									tr
										td.
											<strong>Fecha:</strong>
										td.
											Marzo 5 a abril 30 de 2016.

									tr
										td.
											<strong>Categor&iacute;as:</strong>
										td.
											Infantil (niños 12 a 13 años)
									tr
										td.
											<strong>Sedes:</strong>
										td.
											Armenia, Cartago, Zarzal, Tuluá, Buga, Palmira, Cali, Buenaventura.
									
									
							

					div.col-lg-4.col-md-4.col-sm-6.col-xs-12
						a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
							div(role="tab", id="headingTwo")
								h3.cont-fase-nacio.
									Fase Nacional

						div.cont-info-acor.in#collapseTwo(role="tabpanel",aria-labelledby="headingTwo")
							div.panel-body
								table.table
									tr
										td.
											<strong>Fecha:</strong>
										td.
											Marzo 5 a abril 30 de 2016.

									tr
										td.
											<strong>Categor&iacute;as:</strong>
										td.
											Infantil (niños 12 a 13 años)
									tr
										td.
											<strong>Sedes:</strong>
										td.
											Armenia, Cartago, Zarzal, Tuluá, Buga, Palmira, Cali, Buenaventura.
		div.row

			div.col-lg-8.col-md-8.col-sm-12.col-xs-12.col-lg-offset-2.col-md-offset-2.cont-tabla-punt
				h3.
					Tabla de posiciones <i class="glyphicon glyphicon-search"></i>


				form
					div.col-lg-12.col-md-12.col-sm-12.col-xs-12.cont-switch
						div.switch
							label.center-block Departamental
								input(type="checkbox")
								span.lever
								| Nacional

					div.col-lg-5.col-md-6.col-sm-6.col-xs-12.col-lg-offset-1
						label.
							Categor&iacute;a:

						select.form-control
							option.
								Profesional
							option.
								Semi-Profesional
					div.col-lg-5.col-md-6.col-sm-6.col-xs-12
						label.
							Ciudad:

						select.form-control
							option.
								Bogot&aacute;
							option.
								Cali

					div.col-lg-12.col-md-12.col-sm-12.col-xs-12
						button.btn.btn-consul-copa.center-block(type="button") Consultar

				div.col-lg-10.col-md-12.col-sm-12.col-xs-12.col-lg-offset-1
					table.table
						thead.cont-cabe-table
							tr
								td
									i.ico-balon
								td.
									Colegio
								td.
									PJ
								td.
									PT

						tbody.cont-infor-table

							tr
								td.
									1
								td.
									San Alberto
								td.
									12
								td.
									34
							tr
								td.
									2
								td.
									Colegio san jose de tal
								td.
									12
								td.
									34
				
				div.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-lg-offset-4.col-lg-offset-4.cont-info-fin
					p.
						Convenciones:  PJ: Partidos jugados, PT: Puntos.

		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				img.img-responsive.center-block(src="images/img-final.png")

						


			


